@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #4CAF50;
    color: white;

    display: flex;
    flex-direction: column;
    margin: 0;
}

header {
    flex: 0 80px;
    text-align: center;
    padding: 1em 0;
}

nav {
    display: flex;
    flex-direction: row;
    padding: 10px;
    background-color: gray;
}

nav > * {
    margin: 0 1em;
}

.opening-photo {
    max-width: 100%;
    height: auto;
}

h2 {
    text-align: center;
}

.white-rounded-box {
    background-color: white;
    border-radius: 15px;
    padding: 1em;
    margin: 3em;
    display: inline-block;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    flex: 0 30px;
    text-align: center;
    padding: 0.5em 0;
    background-color: grey;
}

