@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


body {
    font-family: 'Roboto', sans-serif;
}

nav {
    display: flex;
    flex-direction: row;
}

nav > * {
    margin: 0 1em;
}